body {
    background-color: #002060;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav button{
    width: 100px;
    height: 50px;
    border-radius: 9000px;

}
h1 {
    /* text-align: center; */
    color: #c55a11;

}

h3 {
    /* text-align: center; */
    color: #c55a11
}


